*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("img/the\ witcher\ hell@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap-header, .wrap-main{
    width: 100%;
}

.container-header{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 90%;
    height: 115px;
    margin: 0 auto;
}

.sessao-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 28%;
    height: 115px;
    padding: 10px;
}

.img-logo{
    width: 50px;
    cursor: pointer;
}

.nome-logo{
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

.box-mobile{
    display: none;
}

nav{
    width: 51%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 15%;
}

ul li{
    font-size: 7em;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(216, 216, 216);
    list-style: none;
}

li:hover{
    color: white;
}

.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.img-principal{
    background-image: url("img/the\ witcher\ kavil2@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 450px;
    height: 510px;
}

.group-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 250px;
    margin-top: 200px;
}

.img-do-meio{
    width: 70%;
    margin-bottom: 25px;
}

button{
    width: 250px;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    background: #c10f1c;
    color: white;
    transition: 1s all;
    box-shadow: 0px 11px 14px 0px #000;
}

button:hover{
    transform: scale(1.1);
    background-color: rgb(128, 185, 43);
}


@media(max-width: 917px){
    nav{
        width: 80%;
    }
}

@media(max-width: 630px){

    .sessao-logo{
        width: 80%;
        justify-content: start;
    }

    .nome-logo{
        display: none;
    }
    .box-mobile{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-mobile{
        width: 30px;
        height: 30px;
        color: white;
        text-transform: capitalize;
        transition: .2s all;
    }
    .img-mobile:active{
        color: #c10f1c;
    }

    nav{
        display: none;
    }

    #nav.active{
        width: 100%;
        height: 230px;
        display: flex;
        position: absolute;
        top: 115px;
        right: 0px;
        background-color: rgb(27, 26, 26);
        box-shadow: 0px 16px 14px 0px #c10f1c;
    }

    ul{
        flex-direction: column;
        height: 170px;
    }
}